# History files
.Rhistory

# Session data files
.RData
.Ruserdata

# RStudio files
.Rproj.user

# knitr and R markdown default cache directory
_bookdown_files/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Binary files
*.xls  
*.xlsx
    
# Ignore private documents
Doc/
